.grid-main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 250px 250px 250px; 
    justify-content: center;
    width: 50%;

  }
  
  .grid {
    background-color: #f0f0f0;
    padding: 10px;
    position: relative;
  }
  
  .grid:nth-child(1),
  .grid:nth-child(4),
  .grid:nth-child(5) {
    background-color: #000;
    color: white;
  }  

  @media screen and (max-width: 767px) {
    .grid-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      width: 100%;
    }
  
    .grid:nth-child(1) {
      order: 1; 
    }
  
    .grid:nth-child(2) {
      order: 2; 
    }
  
    .grid:nth-child(3) {
      order: 4; 
    }
  
    .grid:nth-child(4) {
      order: 3; 
    }

    .grid:nth-child(5) {
      order: 5; 
    }
  
    .grid:nth-child(6) {
      order: 5;
    }
  
    
  }
  
  
  /* .overlay-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
  } */