
body, html {
  margin: 0;
  padding: 16px 0; 
}

.box {
  max-width: 1200px;
  margin: 16px;
  width: 20%;
  border-radius: 0;
  display: flex;
  justify-content: left;

}

.bigbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .bigbox {
   flex-wrap: wrap;

}
} 

