
body, html {
  margin: 0;
  padding: 16px 0; 
}

.box {
  max-width: 1200px;
  margin: 16px;
  width: 20%;
  border-radius: 0;
  display: flex;
  /* justify-content: flex-start; */
  justify-content: left;
  align-grids: center;
  /* flex: 0 0 150px; */
}

.bigbox {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-grids: center;
}

@media (max-width: 768px) {
  .bigbox {
   flex-wrap: wrap;
  }
}
