.card-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  justify-items: center;
  align-content: start;
  max-width: 1200px;
  margin: 0 auto;
}

article {
  border: 1px solid #ccc;
  border-radius: 16px; 
  transition: 0.3s;
  margin-bottom: 48px; 
}

article:hover {
  box-shadow: 0 5px 15px rgba(10, 10, 10, 0.3);
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-content {
  padding: 2px 16px;
}

.card {
  background-color: lightgoldenrodyellow;
}

@media (max-width: 768px) {
  .card-box {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
